body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto minmax(300px, 700px) auto;
    grid-template-rows: 50px auto 50px;
    background-color: #ffffff;
    color: #444;
}

header {
    background-image: linear-gradient(rgba(217, 202, 173, 0.2), rgba(255, 255, 255, 1));
    grid-column: 1/ 4;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: auto minmax(300px, 700px) auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    z-index: 2;
}

header h1 {
    grid-column-start: 2;
    margin: 5px 0 0 10px;
}

main {
    background-color: #ffffff;
    grid-column: 2/ 3;
    grid-row-start: 2;
    min-height: 200px;
    z-index: 0;
}

footer {
    background-color: #ffffff;
    grid-column: 1/ 4;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: auto minmax(300px, 700px) auto;
    position: relative;
    justify-items: end;
    z-index: 10;
}

main h2 {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 80px;
    text-align: center;
    z-index: -1;
}

.book-list {
    margin: 20px 0 0 0;
    padding: 0 5px 0 5px;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
}

.book-card {
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90vw;
    max-width: 800px;
    max-height: 100px;
    padding: 5%;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    font-size: 1.8em;
}

.book-card svg {
    transition: 0.15s ease-in;
}

.book-card svg:hover {
    fill: red;
}

.remove-button {
    grid-column: 3 / 4;
    justify-self: end;
    padding: 5px;
    cursor: pointer;
    color: #bbb;
}

.form-container {
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
    grid-column: 2 / 3;
    height: 200px;
    width: 80vw;
    max-width: 400px;
    position: absolute;
    top: -235px;
    right: 10px;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.form-container.show {
    display: block;
}

form#add-book input[type="text"] {
    width: 95%;
    margin: 5px 0;
    height: 30px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #bbb;
    border-radius: 19px;
}

form#add-book input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

form#add-book input[type="checkbox"]{
    margin: 5px;
}

form#add-book input[type="submit"]{
    float: right;
}

.add-book-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    grid-column: 2 / 3;
    margin-right: 10px;
    margin-top: 20px;
    padding: 5px 5px 5px 10px;
    border-radius: 32px;
    font-size: 2em;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.15s ease-in;
}

.add-book-button:hover {
    color: rgba(78, 110, 255, 1);
    box-shadow: 0px 0px 10px 2px rgb(78, 110, 255, 0.5);
}
